<div id="left">
<div class="profile">
  <img class="character" src="http://vignette3.wikia.nocookie.net/fantendo/images/c/cf/Captain_Falcon_top.png/revision/latest?cb=20140421124412" />
</div>
</div>

<div id="center">
<div class="info">
<table>
<tr>
  <th></th>
  <th></th>
</tr>
<tr>
  <td>Name:</td>
  <td>Captain Falcon</td>
</tr>
<tr>
  <td>Series:</td>
  <td>F-ZERO</td>
</tr>
<tr>
  <td>First Appearance:</td>
  <td>F-Zero (1990)</td>
</tr>
</table>
</div>
</div>

<div id="right">
<div class="moveset" id="falcon">
  <table>
    <h2>Special Moveset</h2>
    <tr>
      <th>B</th>
      <th>Move</th>
    </tr>
    <tr>
      <td>Static</td>
      <td>Falcon Punch</td>
    </tr>
    <tr>
      <td>Up</td>
      <td>Falcon Dive</td>
    </tr>
    <tr>
      <td>Side</td>
      <td>Raptor Boost</td>
    </tr>
    <tr>
      <td>Down</td>
      <td>Falcon Kick</td>
    </tr>
  </table>
  </div>
  </div>
