
<div id="left">

<div class="profile" id="kirby">
<img class="character" src="http://vignette4.wikia.nocookie.net/kirby/images/0/01/KDCol_Kirby_K64.png/revision/latest?cb=20120627075127&path-prefix=en" />
</div>
</div>

<div id="center">
<div class="info">
<table>
<tr>
  <th></th>
  <th></th>
</tr>
<tr>
  <td>Name:</td>
  <td>Kirby</td>
</tr>
<tr>
  <td>Series:</td>
  <td>Kirby</td>
</tr>
<tr>
  <td>First Appearance:</td>
  <td>Kirby's Dream Land (1992)</td>
</tr>
</table>
</div>
</div>

<div id="right"></div>
<div class="moveset" id="kirby">
  <table>
    <h2>Special Moveset</h2>
    <tr>
      <th>B</th>
      <th>Move</th>
    </tr>
    <tr>
      <td>Static</td>
      <td>Inhale</td>
    </tr>
    <tr>
      <td>Up</td>
      <td>Final Cutter</td>
    </tr>
    <tr>
      <td>Side</td>
      <td>Hammer Flip</td>
    </tr>
    <tr>
      <td>Down</td>
      <td>Stone</td>
    </tr>
  </table>
  </div>
</div>
