<div id="left">
<div class="profile">
  <img class="character" src="http://vignette2.wikia.nocookie.net/metroid/images/5/54/Sheik.png/revision/latest?cb=20140409004705" />
</div>
</div>

<div id="center">
<div class="info">
<table>
<tr>
  <th></th>
  <th></th>
</tr>
<tr>
  <td>Name:</td>
  <td>Sheik</td>
</tr>
<tr>
  <td>Series:</td>
  <td>The Legend of Zelda</td>
</tr>
<tr>
  <td>First Appearance:</td>
  <td>LoZ: Ocarina of Time</td>
</tr>
</table>
</div>
</div>

<div id="right">
<div class="moveset" id="sheik">
  <table>
    <h2>Special Moveset</h2>
    <tr>
      <th>B</th>
      <th>Move</th>
    </tr>
    <tr>
      <td>Static</td>
      <td>Needle Storm</td>
    </tr>
    <tr>
      <td>Up</td>
      <td>Vanish</td>
    </tr>
    <tr>
      <td>Side</td>
      <td>Burst Grenade</td>
    </tr>
    <tr>
      <td>Down</td>
      <td>Bouncing Fish</td>
    </tr>
  </table>
  </div>
  </div>
